* {
  padding: 40px;
  margin: 40px;
}

.Hotels {
  position: relative;
  overflow: hidden;
}
.HotelsImage {
  height: 80vh;
  width: 100vw;
}
.HotelsImage img {
  height: 100%;
  width: 100%;
}
.HotelsTitle {
  position: absolute;
  top: 65%;
  left: 70px;
  /* background-color: rgba(0, 0, 0, 0.5);   */
  color: white;
  padding: 10px;
}
.HotelsHeading {
  font-weight: 900;
  font-size: 5.5rem;
}
.hotelsHeading {
  font-family: cursive;
  font-size: 2.5em;
  font-weight: 600;
  margin-left: 40px;
  margin-top: 40px;
}