.topDestination {
  gap: 5px;
  overflow-x: auto;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 40px;
}
